hr {
    display: block;
    margin: 50px 0 -15px;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
  hr + h2 {
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #453986;
    transform: translateX(-50%);
    color: #453986;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.32em;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
  }
  hr + h2::first-letter {
    margin-left: 0.32em;
  }
  
  /* Alternative transform: translate */
  hr + h2 {
    border-width: 1px 0;
  }
  hr + h2::before, hr + h2::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #453986;
    content: "";
  }
  hr + h2::before {
    left: 0;
  }
  hr + h2::after {
    right: 0;
  }
  
  /**/
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3f517e;
    font-family: Helvetica Neue, Helvetica, Arial sans-serif;
    background-color: #fff;
  }
  
  article {
    margin: 20px 10px;
  }
  @media (min-width: 30em) {
    article {
      margin: 40px 0;
      padding: 0 10px;
      width: 30em;
    }
  }
  
  a {
    color: #f52e62;
    text-decoration: none;
  }
  a:focus, a:hover {
    text-decoration: underline;
  }
  
  code {
    font-size: 1.1em;
  }
  
  h1 {
    margin: 0 0 1em;
    color: #44388b;
  }
  
  p {
    padding: 0 10px;
  }
  p:empty {
    display: none;
  }